@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* div {
    @apply border;
  }
  section {
    @apply border;
  } */
}
@layer components {
  .heets-title {
    @apply text-4xl py-1.5 mx-auto w-max uppercase mt-24 title-text-shadow;
  }
  .product-card {
    @apply px-6 py-8 shadow-drop-shadow flex flex-col hover:shadow-hover-drop
    mx-auto w-auto 2xl:w-[23%];
  }
  .save-sar-teal {
    @apply text-base px-2 py-1 text-white uppercase rounded-full bg-iqos-teal;
  }
  .red-new {
    @apply text-base text-white uppercase rounded-[30px] bg-[#FF5F5F] px-2 py-1;
  }
  .product-title {
    @apply text-xl uppercase text-center mb-4 w-[310px];
  }
  .product-subtitle {
    @apply text-base text-[#5E5E5E] uppercase text-center mb-5 w-[310px];
  }
  .white-button {
    @apply text-xl  py-3 px-6 rounded-full text-black border border-black;
  }
  .add-to-cart-button {
    @apply bg-iqos-teal text-xl text-white py-3 px-6 rounded-full;
  }
  .iqos-info-title {
    @apply font-light text-5xl text-end;
  }
  .iqos-info-text {
    @apply font-light text-xl text-end;
  }
}
@layer utilities {
  .title-text-shadow {
    text-shadow: 1px 3px 6px #aaa;
  }
  .delivery-options {
    width: calc(100% - 850px);
  }
}

@media (min-width: 1760px) {
  .product-card {
    width: 20%;
  }
}
